@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D061242A-6497-466F-AECB-B2CB5237C78B
@alienbackoffice:registry=https://pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/registry/           
always-auth=true
; begin auth token
//pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/registry/:username=imoon-devops
//pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/registry/:_password=bGJ4ZzJ2amlxeXdobzNvZ2g3Y3hwcmRwY3llMzI0a3B2eDdvazczcWthZmpmb3h6Ym1ocQ==
//pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/:username=imoon-devops
//pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/:_password=bGJ4ZzJ2amlxeXdobzNvZ2g3Y3hwcmRwY3llMzI0a3B2eDdvazczcWthZmpmb3h6Ym1ocQ==
//pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-backoffice-back-front/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
# @alien-chat-support:registry=https://pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/registry/ 
# always-auth=true
# ; begin auth token
# //pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/registry/:username=imoon-devops
# //pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/registry/:_password=bGJ4ZzJ2amlxeXdobzNvZ2g3Y3hwcmRwY3llMzI0a3B2eDdvazczcWthZmpmb3h6Ym1ocQ==
# //pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/registry/:email=npm requires email to be set but doesn't use the value
# //pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/:username=imoon-devops
# //pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/:_password=bGJ4ZzJ2amlxeXdobzNvZ2g3Y3hwcmRwY3llMzI0a3B2eDdvazczcWthZmpmb3h6Ym1ocQ==
# //pkgs.dev.azure.com/imoon-devops/alien/_packaging/feed-alien-chat-support/npm/:email=npm requires email to be set but doesn't use the value
# ; end auth token